@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  .input:-webkit-autofill,
  .input:-webkit-autofill:hover,
  .input:-webkit-autofill:focus,
  .input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #17123b inset !important;
    -webkit-text-fill-color: #ffffff !important;
  }
  .custom-shadow {
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
  }
}
.main-padding {
  @apply px-4 sm:px-7 md:px-10 lg:px-12;
}
.arrow {
  @apply w-[5px] h-[5px] inline-block border-secondary_1 border-r border-b -rotate-45 -translate-y-[2px];
}
.cards {
  @apply px-2 w-72 lg:w-80;
}
.cards div:nth-child(1) {
  @apply w-full h-44  rounded-xl overflow-hidden custom-shadow mb-7 md:h-44 lg:h-48;
}
.cards div:nth-child(1) img {
  @apply w-full h-full object-cover;
}
.cards .subtitle {
  @apply text-lg font-bold text-secondary_1 mb-2 text-center md:text-left;
}

.cards .desc {
  @apply text-secondary_2 mb-2 text-center leading-relaxed text-xs md:text-left md:text-sm md:leading-relaxed;
}

.cards .btn {
  @apply font-semibold text-secondary_1 capitalize text-center mx-auto text-sm cursor-pointer inline-block relative left-1/2 -translate-x-1/2 md:static md:text-left md:translate-x-0;
}

.input {
  @apply border border-primary w-60 h-10 bg-transparent outline-none px-3 text-primary;
}
input::placeholder {
  @apply text-gray-400 capitalize;
}
.svg {
  @apply absolute;
}

.footer div {
  @apply w-64 text-center;
}
.footer div li {
  @apply mb-1 capitalize text-primary font-light text-sm;
}
.footer-subtitle {
  @apply uppercase font-semibold text-primary mb-2 text-base;
}
